@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  color: "#ffffff";
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }
}
